menu "Weather data retreival from OpenWeatherMap"

config OPENWEATHERMAP_API_KEY
    string "OpenWeatherMap API key"
	default "95d55f551656178f7ed8928f4acf550a"
	help
		API key obtained from 'https://home.openweathermap.org/' site.
		
		You need to set up a free account on this site first.

endmenu
